doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title flink
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='http://dev.kropp.pro:3321/static/css/normalize.css')
    link(rel='stylesheet', href='http://dev.kropp.pro:3321/static/css/skeleton.css')
    link(rel='stylesheet', href='http://dev.kropp.pro:3321/static/css/flink.css')
    link(rel='icon', type='image/png', href='http://dev.kropp.pro:3321/static/images/favicon.png')
  body
    .container
      .row.full-width.header.green-bg.white-fg
        h1 flink
      .row
        .empty &nbsp;
      block content
    footer.footer.green-bg.white-fg
      h5 flink.io 2017